/* =========================================
   RESPONSIVE
========================================= */

/* =========================
   TABLET
========================= */

@media (max-width:992px){

    .navbar{

        flex-direction:column;

        gap:20px;

    }

    .nav-menu{

        flex-wrap:wrap;

        justify-content:center;

    }

    .games-grid{

        grid-template-columns:repeat(2,1fr);

    }

}

/* =========================
   MOBILE
========================= */

@media (max-width:768px){

    .hero h1{

        font-size:38px;

    }

    .hero p{

        font-size:16px;

    }

    .games-grid{

        grid-template-columns:1fr;

    }

    .footer-container{

        grid-template-columns:1fr;

        text-align:center;

    }

    .search-box input{

        width:100%;

    }

    .navbar{

        padding:20px;

    }

   .related-grid{
    grid-template-columns:1fr;
    gap:20px;
}

.related-card img{
    height:220px;
    object-fit:cover;
}

.related-card h3{
    min-height:auto;
    text-align:center;
}

.related-card a{
    width:calc(100% - 40px);
}

.game-info{
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        gap:30px;
    }

    .game-cover{
        width:100%;
        max-width:100%;
        flex:none;
    }

    .game-cover img{
        width:100%;
        height:auto;
    }

    .game-summary{
        width:100%;
        text-align:left;
    }

    .game-summary h1{
        font-size:36px;
        line-height:1.2;
        word-break:break-word;
    }

    .game-buttons{
        display:flex;
        justify-content:center;
        flex-wrap:wrap;
        gap:15px;
    }

    .btn-game{
        width:160px;
    }
   
header{
    position:static;
}

}
